<div class="nav-container">
  <aside class="nav">
    <a href="#about" class="scroll nav__item">About</a>
    <a href="#chefs" class="scroll nav__item">Chefs</a>
    <a href="#reservations" class="scroll nav__item">Reservations</a>
  </aside>
</div>

<aside class="social__nav wow fadeIn" data-wow-delay="1s">
  <a href="https://twitter.com/lyleslondon" class="social__nav__link">
    <%= image_tag 'Twitter.png' %>
  </a>
  <a href="https://www.facebook.com/lyleslondon" class="social__nav__link">
    <%= image_tag 'Facebook.png' %>
  </a>
  <a href="http://instagram.com/lyleslondon/" class="social__nav__link">
    <%= image_tag 'Instagram.png' %>
  </a>
  <a href="mailto:freddie@lyleslondon.com" class="social__nav__link">
    <%= image_tag 'Email.png' %>
  </a>
</aside>

<section class="fullscreen background slide--grouse" data-img-width="800" data-img-height="800" id="home">
    <div class="content-a">
        <div class="content-b">
            <%= image_tag "game-logo.svg", :class => 'logo' %>
        </div>
    </div>
</section>

<section class="fullscreen background slide--grouse2" data-img-width="959" data-img-height="959" id="about">
    <div class="content-a">
        <div class="content-b">
            <p class="type-p wow fadeIn" data-wow-delay=".25s">
              On Friday 7th and Saturday 8th November 2014, Lyle’s is hosting GAME, an event comprising two dinners to celebrate British game season. We’re inviting a group of chefs from overseas to come and have the opportunity to cook with produce they’ve never had access to before. For diners, it’s a chance to experience some of the best international chefs bringing their own interpretation to British seasonal ingredients.
              <br><br>
              GAME is created by James Lowe, Brad McDonald and the team from Lyle’s.
            </p>
        </div>
    </div>
</section>

<div class="fullscreen background slide--shell" data-img-width="1000" data-img-height="1000" id="chefs">
    <div class="content-a">
        <div class="content-b">
          <p class="type-p wow fadeIn" data-wow-delay=".25s">
            Frederik Berselius<br>
            Aska, NYC 
            <br><br>
            James Henry<br>
            Bones, Paris
            <br><br>
            James Lowe <br>
            Lyle’s, London
            <br><br>
            Thomas Lim <br>
            Goldie, Los Angeles
            <br><br>
            Brad McDonald<br>
            The Lockhart, London
            <br><br>
            Isaac McHale<br>
            The Clove Club, London
            <br><br>
            Pasi Petanen<br>
            Cafe Paci, Sydney
            <br><br>
            Junya Yamasaki<br>
            Koya, London
          </p>
        </div>
    </div>
</div>


<div class="fullscreen background slide--grouse3" data-img-width="1000" data-img-height="1000" id="reservations">
    <div class="content-a">
        <div class="content-b">
          <p class="type-p wow fadeIn" data-wow-delay=".25s">
            Friday 7th &amp; Saturday 8th November 2014  
            <br><br>Lyle’s <br>Tea Building, 56 Shoreditch High St, London&nbsp;E1 6JJ  
            <br><br>The ticket price is £125 per person. This includes a six course menu, wine and other drinks. To make a reservation call Lyle’s on +44(0)20 3011 1547 from 10.00-18.00.  Payment will be taken in advance. We can take parties of up to six people.
            <br><br>
            To receive more information about GAME and future Lyle’s events sign up to our newsletter:
            <form action="http://newsletters.alasdairmonk.com/t/r/s/ilkidku/" method="post">
              <input id="fieldEmail" name="cm-ilkidku-ilkidku" type="email" placeholder="Your email address" required />
              <button type="submit">Subscribe</button>
            </form>
          </p>
          <div class="hr">
            <%= image_tag 'hr.png' %>
          </div>
          <p class="type-p type-p--narrow wow fadeIn" data-wow-delay=".25s">
            <br><br>
            We would like to thank Jameson Whiskey, Uber, Airbnb and Braehead Foods for making this event happen with us.
            <br>
            <a href="http://thejamesonworks.com/" class="sponsor__link sponsor__link--jameson">
              <%= image_tag 'jameson.png' %>
            </a>

            <a href="https://www.uber.com/cities/london" class="sponsor__link sponsor__link--uber">
              <%= image_tag 'uber.png' %>
            </a>

            <a href="https://airbnb.com" class="sponsor__link sponsor__link--airbnb">
              <%= image_tag 'airbnb.png' %>
            </a>
            <br><br>
            <br>
            <div class="social__mobile">
              <a href="https://twitter.com/lyleslondon" class="social__link">
                <%= image_tag 'Twitter.png' %>
              </a>
              <a href="https://www.facebook.com/lyleslondon" class="social__link">
                <%= image_tag 'Facebook.png' %>
              </a>
              <a href="http://instagram.com/lyleslondon/" class="social__link">
                <%= image_tag 'Instagram.png' %>
              </a>
              <a href="mailto:freddie@lyleslondon.com" class="social__link">
                <%= image_tag 'Email.png' %>
              </a>
            </div>
          </p>
        </div>
    </div>
</div>
