<section class="fullscreen background slide--grouse" data-img-width="800" data-img-height="800">
    <div class="content-a">
        <div class="content-b">
          <%= image_tag "game-logo.svg", :class => 'logo' %>

          <p class="type-p">
            Friday 7th November &amp; Saturday 8th November 2014
            <br><br>
            Lyle’s,<br>Tea Building, 56 Shoreditch High Street, London E1 6JJ
            <br><br>
            #gamelondon<br>
            <a href="https://twitter.com/lyleslondon" class="social__link">
              <%= image_tag 'Twitter.png' %>
            </a>
            <a href="https://www.facebook.com/lyleslondon" class="social__link">
              <%= image_tag 'Facebook.png' %>
            </a>
            <a href="http://instagram.com/lyleslondon/" class="social__link">
              <%= image_tag 'Instagram.png' %>
            </a>
            <a href="mailto:freddie@lyleslondon.com" class="social__link">
              <%= image_tag 'Email.png' %>
            </a>
            <br>
            <br>
            <a href="" class="createsend-button" data-listid="r/66/ACD/4E5/EA643B30B3730E18">Subscribe to our newsletter</a>

            <script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
          </p>
        </div>
    </div>
</section>